body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  /*--> default colors are for dark theme */
  --text-color-1: black;
  --bg-color-1: white;
  --bg-blue: blue;
  --bg-color-2: gray;

  /* need to remove above variables */
  --bg-color-1: #0D1321;
  --bg-color-2: #1D2D44;
  --bg-color-3: #3E5C76;
  --bg-color-4: #748CAB;
}

.light-theme {
  --text-color-1: gray;
  --bg-color-1: black;
  --bg-blue: blue;
  --bg-color-2: gray;
  /* need to remove above variables */
  /* light theme pending */
  --bg-color-1: #0D1321;
  --bg-color-2: #1D2D44;
  --bg-color-3: #3E5C76;
  --bg-color-4: #748CAB;
}

/* .dark-theme {
  --text-color-1: black;
  --bg-color-1: white;
} */

/* background colors */

.custom-bg-blue {
  background-color: var(--bg-blue);
}

.custom-bg-gray {
  background-color: var(--bg-color-2);
}

.custom-bg-1 {
  background-color: var(--bg-color-1);
}

.custom-bg-2 {
  background-color: var(--bg-color-2);
}

.custom-bg-3 {
  background-color: var(--bg-color-3);
}

.custom-bg-4 {
  background-color: var(--bg-color-4);
}

/* text colors */

.text-color-1 {
  color: var(--text-color-1);
}

/* font size */

.custom-font-1 {
  font-size: 1.2rem;
}